# QF 627 Extras - Financial Analytics
## Problem Set `2` | `RE`view

> Hi Team ðŸ‘‹

> With our Week 4 lesson last night, weâ€™ve now established a solid, action-oriented foundation in analyticsâ€”an essential starting point for studying econometric methods of causal inference.

> As you experienced, Problem Set 1 served as an extended learning opportunity on the Grammar of Graphics framework and gave you hands-on experience with the plotnine library in Python. The current exerciseâ€”Problem Set 2â€”also goes beyond simple assessment. It is designed as a practical learning tool to help you work with real loan data from a bank, including data import, wrangling, and visualization.

> Starting with Problem Set 3, which will kick off our problem-solving leadership sessions, weâ€™ll begin tackling questions related to econometric methods for causal inference. These exercises will help consolidate your understanding of the course material and strengthen your problem-solving skills.

> These problem sets are intended to serve not just for in-semester learning, but also as valuable reference materials for future use.

> Enjoy ðŸ˜Š

### <font color = green> Activation of necessary libraries. </font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
pd         module    <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

### <font color = "blue"> `IMPORT` your dataset: `bank_loan.csv`. </font>

> Download the dataset from eLearn and place the file in the same folder as your Jupyter Notebook.

In [3]:
%ls

FNCE6050_Lesson01_Whiteboard_01.jpeg
FNCE6050_Lesson01_Whiteboard_02.jpeg
FNCE6050_Lesson01_Whiteboard_03.jpeg
FNCE6050_Lesson01_Whiteboard_04.jpeg
FNCE6050_Lesson01_Whiteboard_05.jpeg
FNCE6050_Lesson01_Whiteboard_06.jpeg
FNCE6050_Lesson02_Whiteboard_01.JPG
FNCE6050_Lesson02_Whiteboard_02.JPG
FNCE6050_Lesson02_Whiteboard_03.JPG
FNCE6050_Lesson02_Whiteboard_04.JPG
FNCE6050_Lesson02_Whiteboard_05.png
FNCE6050_Lesson02_Whiteboard_06.png
FNCE6050_Lesson02_Whiteboard_07.png
FNCE6050_Lesson02_Whiteboard_08.png
FNCE6050_Lesson03_Annotation_1.png
FNCE6050_Lesson03_Annotation_10.png
FNCE6050_Lesson03_Annotation_11.png
FNCE6050_Lesson03_Annotation_12.png
FNCE6050_Lesson03_Annotation_13.png
FNCE6050_Lesson03_Annotation_2.png
FNCE6050_Lesson03_Annotation_3.png
FNCE6050_Lesson03_Annotation_4.png
FNCE6050_Lesson03_Annotation_5.png
FNCE6050_Lesson03_Annotation_6.png
FNCE6050_Lesson03_Annotation_7.png
FNCE6050_Lesson03_Annotation_8.png
FNCE6050_Lesson03_Annotation_9.png
FNCE6050_PyDay_Week02_Annotation_1.png
FNCE6050_PyDay_Week02_Annotation_10.png
FNCE6050_PyDay_Week02_Annotation_11.png
FNCE6050_PyDay_Week02_Annotation_12.png
FNCE6050_PyDay_Week02_Annotation_13.png
FNCE6050_PyDay_Week02_Annotation_14.png
FNCE6050_PyDay_Week02_Annotation_15.png
FNCE6050_PyDay_Week02_Annotation_16.png
FNCE6050_PyDay_Week02_Annotation_17.png
FNCE6050_PyDay_Week02_Annotation_18.png
FNCE6050_PyDay_Week02_Annotation_19.png
FNCE6050_PyDay_Week02_Annotation_2.png
FNCE6050_PyDay_Week02_Annotation_20.png
FNCE6050_PyDay_Week02_Annotation_3.png
FNCE6050_PyDay_Week02_Annotation_4.png
FNCE6050_PyDay_Week02_Annotation_5.png
FNCE6050_PyDay_Week02_Annotation_6.png
FNCE6050_PyDay_Week02_Annotation_7.png
FNCE6050_PyDay_Week02_Annotation_8.png
FNCE6050_PyDay_Week02_Annotation_9.png
QF627 Extras_Lesson01_TypesOfQuestions_AY2425.html
QF627 Extras_Lesson01_TypesOfQuestions_AY2425_files/
QF627_Extras_Analytics_Problem_Set_4.ipynb
QF627_Extras_Analytics_Problem_Set_5.ipynb
QF627_Extras_Analytics_Problem_Set_BONUS.ipynb
QF627_Extras_Lesson01_Analytics_Workflow_Fundamentals.pdf
QF627_Extras_Lesson02_Installation_Guide_of_Python_Programming_Environment.html
QF627_Extras_Lesson02_Installation_Guide_of_Python_Programming_Environment_files/
QF627_Extras_Lesson02_Modeling_Confounders_Colliders_RCTs.ipynb
QF627_Extras_Lesson03_Data_Visualization_in_Analytics_AY2425.html
QF627_Extras_Lesson03_Data_Visualization_in_Analytics_AY2425_files/
QF627_Extras_Lesson03_Exploratory_Data_Analysis_with_Grammar_of_Graphics.ipynb
QF627_Extras_Lesson04_Causal_Inference_RCTs_Matching.pdf
QF627_Extras_Lesson04_Mathcing_PSM_IPW.ipynb
QF627_Extras_Lesson05_Difference_in_Differences.ipynb
QF627_Extras_Lesson06_Regression_Discontinuity.ipynb
QF627_Extras_Lesson07_Synthetic_Controls_Counterfactual_Predictions.ipynb
QF627_Extras_PyDay_Week03_Gentle_Introduction_to_Python_Programming_REVIEW.ipynb
QF627_Extras_PyDay_Week04_Analytics_Problem_Set_1_REVIEW.ipynb
QF627_Extras_PyDay_Week05_Analytics_Problem_Set_2_REVIEW.ipynb
QF627_Extras_PyDay_Week06_Analytics_Problem_Set_3_REVIEW.ipynb
QF627_Extras_Random_Grouping_ProblemSolving_Leadership.ipynb
QF627_Extras_SungjongROH_AY2425.pdf
QF627_Extras_SungjongROH_AY2425_FINAL.pdf
bank_loan.csv
qf627_extras_ay2425_april.csv

In [4]:
bank =\
(
    pd
    .read_csv("bank_loan.csv")
)

/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/3300944603.py:4: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  .read_csv("bank_loan.csv")

In [5]:
%whos

Variable   Type         Data/Info
---------------------------------
bank       DataFrame                id  member_id<...>39717 rows x 111 columns]
np         module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
pd         module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

In [6]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [7]:
bank.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [8]:
len(bank.columns)

111

In [9]:
(
    bank # DF
    .isnull() # returns bools True (1) vs. False (0)
    .sum() # returns column-wise number of missing values count    
)

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [10]:
(
    bank # DF
    .isnull() # returns bools True (1) vs. False (0)
    .mean() # returns percentage of being 1
    * 100
)

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

### Question 1. Data `Inspection`

#### Question 1.1. How would you look at the first few rows of the DF?

In [11]:
bank.head() # by default, print 5 rows

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [12]:
bank.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Question 1.2. How would you look at all the column names?

#### <mark>Three element of DataFrame: index, columns, values</mark>

In [13]:
(
    bank
    .columns
)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [14]:
bank.shape[0]

39717

In [15]:
bank.index

RangeIndex(start=0, stop=39717, step=1)

In [16]:
bank.values

array([[1077501, 1296599, 5000, ..., nan, nan, nan],
       [1077430, 1314167, 2500, ..., nan, nan, nan],
       [1077175, 1313524, 2400, ..., nan, nan, nan],
       ...,
       [90395, 90390, 5000, ..., nan, nan, nan],
       [90376, 89243, 5000, ..., nan, nan, nan],
       [87023, 86999, 7500, ..., nan, nan, nan]],
      shape=(39717, 111), dtype=object)

### Question 2. Data `Wrangling`

#### Question 2.1. How would you check the number of missing values in each column?

In [17]:
# built-in Python

numbers = [100, 1e3, 1e6, 1e9]

In [18]:
numbers * 3

[100,
 1000.0,
 1000000.0,
 1000000000.0,
 100,
 1000.0,
 1000000.0,
 1000000000.0,
 100,
 1000.0,
 1000000.0,
 1000000000.0]

In [19]:
np.array(numbers)

array([1.e+02, 1.e+03, 1.e+06, 1.e+09])

In [20]:
np.array(numbers) * 3

array([3.e+02, 3.e+03, 3.e+06, 3.e+09])

In [21]:
type(bank.values)

numpy.ndarray

In [22]:
(
    bank
    .values
    .ndim
)

2

In [23]:
(
    bank # DF is built on numpy array
    .isnull() # runs element-wise operations --> returns True or False
    .sum()
)

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [24]:
DF_missing_count =\
(
    bank # DF is built on numpy array
    .isnull() # runs element-wise operations --> returns True or False
    .sum()
    .to_frame()
    .rename(columns = {0: "missing_count"}
           )
)

In [25]:
DF_missing_count

                            missing_count
id                                      0
member_id                               0
loan_amnt                               0
funded_amnt                             0
funded_amnt_inv                         0
...                                   ...
tax_liens                              39
tot_hi_cred_lim                     39717
total_bal_ex_mort                   39717
total_bc_limit                      39717
total_il_high_credit_limit          39717

[111 rows x 1 columns]

> There are columns have a large number of missing values 

> Let's clean them first.

#### Question 2.2. How would you find the percentage of missing values in each column? 
> Hint: Use the missing values and divide it by something.

In [26]:
len(numbers)

4

### To Wei Min

In [27]:
df_for_wm =\
(
    pd
    .DataFrame(
        {"A": [60, 50, None, 100, "python"],
         "B": ["Yes", "No", "Yes", None, "Yes"] 
        }
    )
)

In [28]:
df_for_wm

        A     B
0      60   Yes
1      50    No
2    None   Yes
3     100  None
4  python   Yes

In [29]:
df_for_wm["A"].count()

np.int64(4)

In [30]:
df_for_wm.dtypes

A    object
B    object
dtype: object

In [31]:
DF_missing_count["missing_percent"] =\
(
    DF_missing_count["missing_count"]
    .apply(lambda x: x / bank.shape[0] * 100)
) # Pythonian way of writing your code

DF_missing_count

                            missing_count  missing_percent
id                                      0         0.000000
member_id                               0         0.000000
loan_amnt                               0         0.000000
funded_amnt                             0         0.000000
funded_amnt_inv                         0         0.000000
...                                   ...              ...
tax_liens                              39         0.098195
tot_hi_cred_lim                     39717       100.000000
total_bal_ex_mort                   39717       100.000000
total_bc_limit                      39717       100.000000
total_il_high_credit_limit          39717       100.000000

[111 rows x 2 columns]

#### Question 2.3. How would you remove the columns having more than 90% missing values?

In [32]:
DF_missing_count.columns

Index(['missing_count', 'missing_percent'], dtype='object')

In [33]:
missing_more_than_90pct =\
(
    DF_missing_count
    [DF_missing_count["missing_percent"] > 90.0]
)

missing_more_than_90pct

                                missing_count  missing_percent
mths_since_last_record                  36931        92.985372
next_pymnt_d                            38577        97.129693
mths_since_last_major_derog             39717       100.000000
annual_inc_joint                        39717       100.000000
dti_joint                               39717       100.000000
verification_status_joint               39717       100.000000
tot_coll_amt                            39717       100.000000
tot_cur_bal                             39717       100.000000
open_acc_6m                             39717       100.000000
open_il_6m                              39717       100.000000
open_il_12m                             39717       100.000000
open_il_24m                             39717       100.000000
mths_since_rcnt_il                      39717       100.000000
total_bal_il                            39717       100.000000
il_util                                 39717       100.000000
open_rv_12m                             39717       100.000000
open_rv_24m                             39717       100.000000
max_bal_bc                              39717       100.000000
all_util                                39717       100.000000
total_rev_hi_lim                        39717       100.000000
inq_fi                                  39717       100.000000
total_cu_tl                             39717       100.000000
inq_last_12m                            39717       100.000000
acc_open_past_24mths                    39717       100.000000
avg_cur_bal                             39717       100.000000
bc_open_to_buy                          39717       100.000000
bc_util                                 39717       100.000000
mo_sin_old_il_acct                      39717       100.000000
mo_sin_old_rev_tl_op                    39717       100.000000
mo_sin_rcnt_rev_tl_op                   39717       100.000000
mo_sin_rcnt_tl                          39717       100.000000
mort_acc                                39717       100.000000
mths_since_recent_bc                    39717       100.000000
mths_since_recent_bc_dlq                39717       100.000000
mths_since_recent_inq                   39717       100.000000
mths_since_recent_revol_delinq          39717       100.000000
num_accts_ever_120_pd                   39717       100.000000
num_actv_bc_tl                          39717       100.000000
num_actv_rev_tl                         39717       100.000000
num_bc_sats                             39717       100.000000
num_bc_tl                               39717       100.000000
num_il_tl                               39717       100.000000
num_op_rev_tl                           39717       100.000000
num_rev_accts                           39717       100.000000
num_rev_tl_bal_gt_0                     39717       100.000000
num_sats                                39717       100.000000
num_tl_120dpd_2m                        39717       100.000000
num_tl_30dpd                            39717       100.000000
num_tl_90g_dpd_24m                      39717       100.000000
num_tl_op_past_12m                      39717       100.000000
pct_tl_nvr_dlq                          39717       100.000000
percent_bc_gt_75                        39717       100.000000
tot_hi_cred_lim                         39717       100.000000
total_bal_ex_mort                       39717       100.000000
total_bc_limit                          39717       100.000000
total_il_high_credit_limit              39717       100.000000

In [34]:
missing_more_than_90pct.shape[0]

56

In [35]:
missing_more_than_90pct.index

Index(['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [36]:
DF_subset_90 =\
(
    bank
    .copy()
)

In [37]:
DF_subset_90 =\
(
    DF_subset_90
    .drop(missing_more_than_90pct.index,
          axis = 1)
)

In [38]:
(
    DF_subset_90
    .isnull()
    .mean()
    .to_frame()
).sort_values(by = 0,
              ascending = False) # by default, it sorts in ascending order in Python

                                   0
mths_since_last_delinq      0.646625
desc                        0.325855
emp_title                   0.061913
emp_length                  0.027066
pub_rec_bankruptcies        0.017549
last_pymnt_d                0.001788
chargeoff_within_12_mths    0.001410
collections_12_mths_ex_med  0.001410
revol_util                  0.001259
tax_liens                   0.000982
title                       0.000277
last_credit_pull_d          0.000050
out_prncp                   0.000000
initial_list_status         0.000000
out_prncp_inv               0.000000
total_pymnt                 0.000000
total_acc                   0.000000
total_pymnt_inv             0.000000
recoveries                  0.000000
total_rec_prncp             0.000000
total_rec_int               0.000000
total_rec_late_fee          0.000000
pub_rec                     0.000000
collection_recovery_fee     0.000000
last_pymnt_amnt             0.000000
policy_code                 0.000000
application_type            0.000000
acc_now_delinq              0.000000
delinq_amnt                 0.000000
revol_bal                   0.000000
id                          0.000000
open_acc                    0.000000
member_id                   0.000000
loan_amnt                   0.000000
funded_amnt                 0.000000
funded_amnt_inv             0.000000
term                        0.000000
int_rate                    0.000000
installment                 0.000000
grade                       0.000000
sub_grade                   0.000000
home_ownership              0.000000
annual_inc                  0.000000
verification_status         0.000000
issue_d                     0.000000
loan_status                 0.000000
pymnt_plan                  0.000000
url                         0.000000
purpose                     0.000000
zip_code                    0.000000
addr_state                  0.000000
dti                         0.000000
delinq_2yrs                 0.000000
earliest_cr_line            0.000000
inq_last_6mths              0.000000

In [39]:
DF_subset_90.dropna()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
3,1076863,1277178,10000,10000,10000.00,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.00,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
18,1062474,1294539,6000,6000,6000.00,36 months,11.71%,198.46,B,B3,...,16.98,Jul-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
27,1069657,1304764,5000,5000,5000.00,60 months,16.77%,123.65,D,D2,...,123.65,May-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
33,1069591,1304289,5000,5000,5000.00,36 months,8.90%,158.77,A,A5,...,163.64,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39433,200600,200597,7500,7500,1599.78,36 months,9.83%,241.41,B,B3,...,247.31,May-16,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
39475,186572,186568,12000,12000,725.00,36 months,9.01%,381.66,B,B2,...,11202.55,Oct-15,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
39551,158706,158450,12375,12375,1000.00,36 months,10.91%,404.62,C,C3,...,4259.11,May-14,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
39562,154154,151536,4800,4800,1100.00,36 months,10.28%,155.52,C,C1,...,3891.08,Aug-08,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0
39623,132892,132889,9000,9000,700.00,36 months,12.49%,301.04,D,D3,...,301.05,May-16,0.0,1,INDIVIDUAL,0,0.0,0,1.0,0.0

> Let's check the number of missing values again.

In [40]:
%whos

Variable                  Type         Data/Info
------------------------------------------------
DF_missing_count          DataFrame                             <...>n\n[111 rows x 2 columns]
DF_subset_90              DataFrame                id  member_id<...>[39717 rows x 55 columns]
bank                      DataFrame                id  member_id<...>39717 rows x 111 columns]
df_for_wm                 DataFrame            A     B\n0      6<...>00  None\n4  python   Yes
missing_more_than_90pct   DataFrame                             <...>   39717       100.000000
np                        module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
numbers                   list         n=4
pd                        module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

In [41]:
DF_missing_count

                            missing_count  missing_percent
id                                      0         0.000000
member_id                               0         0.000000
loan_amnt                               0         0.000000
funded_amnt                             0         0.000000
funded_amnt_inv                         0         0.000000
...                                   ...              ...
tax_liens                              39         0.098195
tot_hi_cred_lim                     39717       100.000000
total_bal_ex_mort                   39717       100.000000
total_bc_limit                      39717       100.000000
total_il_high_credit_limit          39717       100.000000

[111 rows x 2 columns]

#### Question 2.4. How would you remove columns having more than 30% of missing values?
> Hint: With so **few** columns with more than 30% missing values, can you `drop` them by **name**?

```python
DF_subset_30 =\
(
    bank
    .drop(["desc", "mths_since_last_delinq"],
          axis = 1
         )
)
```

In [42]:
DF_subset_30 =\
(
    DF_subset_90
    .copy()
)

In [43]:
(
    DF_missing_count
    [DF_missing_count["missing_percent"] > 30.0]
)

                                missing_count  missing_percent
desc                                    12942        32.585543
mths_since_last_delinq                  25682        64.662487
mths_since_last_record                  36931        92.985372
next_pymnt_d                            38577        97.129693
mths_since_last_major_derog             39717       100.000000
annual_inc_joint                        39717       100.000000
dti_joint                               39717       100.000000
verification_status_joint               39717       100.000000
tot_coll_amt                            39717       100.000000
tot_cur_bal                             39717       100.000000
open_acc_6m                             39717       100.000000
open_il_6m                              39717       100.000000
open_il_12m                             39717       100.000000
open_il_24m                             39717       100.000000
mths_since_rcnt_il                      39717       100.000000
total_bal_il                            39717       100.000000
il_util                                 39717       100.000000
open_rv_12m                             39717       100.000000
open_rv_24m                             39717       100.000000
max_bal_bc                              39717       100.000000
all_util                                39717       100.000000
total_rev_hi_lim                        39717       100.000000
inq_fi                                  39717       100.000000
total_cu_tl                             39717       100.000000
inq_last_12m                            39717       100.000000
acc_open_past_24mths                    39717       100.000000
avg_cur_bal                             39717       100.000000
bc_open_to_buy                          39717       100.000000
bc_util                                 39717       100.000000
mo_sin_old_il_acct                      39717       100.000000
mo_sin_old_rev_tl_op                    39717       100.000000
mo_sin_rcnt_rev_tl_op                   39717       100.000000
mo_sin_rcnt_tl                          39717       100.000000
mort_acc                                39717       100.000000
mths_since_recent_bc                    39717       100.000000
mths_since_recent_bc_dlq                39717       100.000000
mths_since_recent_inq                   39717       100.000000
mths_since_recent_revol_delinq          39717       100.000000
num_accts_ever_120_pd                   39717       100.000000
num_actv_bc_tl                          39717       100.000000
num_actv_rev_tl                         39717       100.000000
num_bc_sats                             39717       100.000000
num_bc_tl                               39717       100.000000
num_il_tl                               39717       100.000000
num_op_rev_tl                           39717       100.000000
num_rev_accts                           39717       100.000000
num_rev_tl_bal_gt_0                     39717       100.000000
num_sats                                39717       100.000000
num_tl_120dpd_2m                        39717       100.000000
num_tl_30dpd                            39717       100.000000
num_tl_90g_dpd_24m                      39717       100.000000
num_tl_op_past_12m                      39717       100.000000
pct_tl_nvr_dlq                          39717       100.000000
percent_bc_gt_75                        39717       100.000000
tot_hi_cred_lim                         39717       100.000000
total_bal_ex_mort                       39717       100.000000
total_bc_limit                          39717       100.000000
total_il_high_credit_limit              39717       100.000000

In [44]:
DF_subset_30 =\
(
    DF_subset_30
    .drop(["desc", "mths_since_last_delinq"],
          axis = 1)
)

### <mark>Sanity Check</mark>

In [45]:
%whos

Variable                  Type         Data/Info
------------------------------------------------
DF_missing_count          DataFrame                             <...>n\n[111 rows x 2 columns]
DF_subset_30              DataFrame                id  member_id<...>[39717 rows x 53 columns]
DF_subset_90              DataFrame                id  member_id<...>[39717 rows x 55 columns]
bank                      DataFrame                id  member_id<...>39717 rows x 111 columns]
df_for_wm                 DataFrame            A     B\n0      6<...>00  None\n4  python   Yes
missing_more_than_90pct   DataFrame                             <...>   39717       100.000000
np                        module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
numbers                   list         n=4
pd                        module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

In [46]:
DF_subset_90.shape[1] == bank.shape[1] - missing_more_than_90pct.shape[0]
# DF removed colums      # raw data      # data set that shows columns more than 90% missing
# containing 
# missing values 
# more than 90 %

True

> Let's check number of missing values again, does all columns have **less than** 90% missing values?

#### Question 2.5. How would you check missing values rows-wise, by the way?
> Hint: What does the `axis` argument do?

In [47]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [48]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
).sum()

np.int64(435)

In [49]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
).sum(axis = 0)

array([60, 65, 70, 75, 80, 85])

In [50]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
).mean(axis = 0)

array([12., 13., 14., 15., 16., 17.])

In [51]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
).std(axis = 0)

array([8.48528137, 8.48528137, 8.48528137, 8.48528137, 8.48528137,
       8.48528137])

In [52]:
(
    np
    .arange(30) # returns values 0 through 29 with the step of 1
    .reshape(5, 6)
).mean(axis = 1)

array([ 2.5,  8.5, 14.5, 20.5, 26.5])

In [53]:
(
    DF_subset_30
    .isnull()
    .sum(axis = 0) # returns column-wise?
)

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [54]:
(
    DF_subset_30
    .isnull()
    .sum(axis = 1) # returns row-wise!
)

0        1
1        0
2        1
3        0
4        0
        ..
39712    4
39713    4
39714    5
39715    5
39716    4
Length: 39717, dtype: int64

In [55]:
(
    DF_subset_30
    .isnull()
    .sum(axis = 1) # returns row-wise!
    .to_frame() # returns DF interface
).sort_values(by = 0,
              ascending = False)

       0
39706  5
39715  5
39714  5
39660  5
39659  5
...   ..
15371  0
15370  0
15369  0
15368  0
19858  0

[39717 rows x 1 columns]

In [56]:
DF_subset_30_find_row_wise_missing =\
(
    DF_subset_30
    .isnull()
    .sum()
    .to_frame()
    .rename(columns = {0: "missing_count"}
           )
)

In [57]:
DF_subset_30_find_row_wise_missing

                            missing_count
id                                      0
member_id                               0
loan_amnt                               0
funded_amnt                             0
funded_amnt_inv                         0
term                                    0
int_rate                                0
installment                             0
grade                                   0
sub_grade                               0
emp_title                            2459
emp_length                           1075
home_ownership                          0
annual_inc                              0
verification_status                     0
issue_d                                 0
loan_status                             0
pymnt_plan                              0
url                                     0
purpose                                 0
title                                  11
zip_code                                0
addr_state                              0
dti                                     0
delinq_2yrs                             0
earliest_cr_line                        0
inq_last_6mths                          0
open_acc                                0
pub_rec                                 0
revol_bal                               0
revol_util                             50
total_acc                               0
initial_list_status                     0
out_prncp                               0
out_prncp_inv                           0
total_pymnt                             0
total_pymnt_inv                         0
total_rec_prncp                         0
total_rec_int                           0
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_d                           71
last_pymnt_amnt                         0
last_credit_pull_d                      2
collections_12_mths_ex_med             56
policy_code                             0
application_type                        0
acc_now_delinq                          0
chargeoff_within_12_mths               56
delinq_amnt                             0
pub_rec_bankruptcies                  697
tax_liens                              39

> How would you check whether some rows have more than 5 missing values

In [58]:
(
    DF_subset_30_find_row_wise_missing
    [DF_subset_30_find_row_wise_missing["missing_count"] > 5]
)

                            missing_count
emp_title                            2459
emp_length                           1075
title                                  11
revol_util                             50
last_pymnt_d                           71
collections_12_mths_ex_med             56
chargeoff_within_12_mths               56
pub_rec_bankruptcies                  697
tax_liens                              39

> The dataset is cleaned now; let's check whether all the columns are in the correct format or not.

In [59]:
variables_with_object_dtype =\
(
    DF_subset_30
    .dtypes
    .loc[bank.dtypes == "object"]
    .index
)

> The column `int_rate` is character type, let's convert it to float.

In [60]:
(
    DF_subset_30
    .loc[ : , variables_with_object_dtype]
    .head()
    .T
)

,0,1,2,3,4
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
revol_util,83.70%,9.40%,98.50%,21%,53.90%
initial_list_status,f,f,f,f,f
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL

In [61]:
DF_subset_30["int_rate"].unique()

array(['10.65%', '15.27%', '15.96%', '13.49%', '12.69%', '7.90%',
       '18.64%', '21.28%', '14.65%', '9.91%', '16.29%', '6.03%', '11.71%',
       '12.42%', '14.27%', '16.77%', '7.51%', '8.90%', '18.25%', '6.62%',
       '19.91%', '17.27%', '17.58%', '21.67%', '19.42%', '22.06%',
       '20.89%', '20.30%', '23.91%', '19.03%', '23.52%', '23.13%',
       '22.74%', '22.35%', '24.11%', '6.00%', '22.11%', '7.49%', '11.99%',
       '5.99%', '10.99%', '9.99%', '18.79%', '11.49%', '8.49%', '15.99%',
       '16.49%', '6.99%', '12.99%', '15.23%', '14.79%', '5.42%', '10.59%',
       '17.49%', '15.62%', '21.36%', '19.29%', '13.99%', '18.39%',
       '16.89%', '17.99%', '20.62%', '20.99%', '22.85%', '19.69%',
       '20.25%', '23.22%', '21.74%', '22.48%', '23.59%', '12.62%',
       '18.07%', '11.63%', '7.91%', '7.42%', '11.14%', '20.20%', '12.12%',
       '19.39%', '16.11%', '17.54%', '22.64%', '13.84%', '16.59%',
       '17.19%', '12.87%', '20.69%', '9.67%', '21.82%', '19.79%',
       '18.49%', '22.94%', '24.59%', '24.40%', '21.48%', '14.82%',
       '14.17%', '7.29%', '17.88%', '20.11%', '16.02%', '17.51%',
       '13.43%', '14.91%', '13.06%', '15.28%', '15.65%', '17.14%',
       '11.11%', '10.37%', '16.40%', '7.66%', '10.00%', '18.62%',
       '10.74%', '5.79%', '6.92%', '9.63%', '14.54%', '12.68%', '19.36%',
       '13.80%', '18.99%', '21.59%', '20.85%', '21.22%', '19.74%',
       '20.48%', '6.91%', '12.23%', '12.61%', '10.36%', '6.17%', '6.54%',
       '9.25%', '16.69%', '15.95%', '8.88%', '13.35%', '9.62%', '16.32%',
       '12.98%', '14.83%', '13.72%', '14.09%', '14.46%', '20.03%',
       '17.80%', '15.20%', '15.57%', '18.54%', '19.66%', '17.06%',
       '18.17%', '17.43%', '20.40%', '20.77%', '18.91%', '21.14%',
       '17.44%', '13.23%', '7.88%', '11.12%', '13.61%', '10.38%',
       '17.56%', '17.93%', '15.58%', '13.98%', '14.84%', '15.21%',
       '6.76%', '6.39%', '11.86%', '7.14%', '14.35%', '16.82%', '10.75%',
       '14.72%', '16.45%', '18.67%', '20.53%', '19.41%', '20.16%',
       '21.27%', '18.30%', '19.04%', '20.90%', '21.64%', '12.73%',
       '10.25%', '13.11%', '10.62%', '13.48%', '14.59%', '16.07%',
       '15.70%', '9.88%', '11.36%', '15.33%', '13.85%', '14.96%',
       '14.22%', '7.74%', '13.22%', '13.57%', '8.59%', '17.04%', '14.61%',
       '8.94%', '12.18%', '11.83%', '11.48%', '16.35%', '13.92%',
       '15.31%', '14.26%', '19.13%', '12.53%', '16.70%', '16.00%',
       '17.39%', '18.09%', '7.40%', '18.43%', '17.74%', '7.05%', '20.52%',
       '20.86%', '19.47%', '18.78%', '21.21%', '19.82%', '20.17%',
       '13.16%', '8.00%', '13.47%', '12.21%', '16.63%', '9.32%', '12.84%',
       '11.26%', '15.68%', '15.37%', '10.95%', '11.89%', '14.11%',
       '13.79%', '7.68%', '11.58%', '7.37%', '16.95%', '15.05%', '18.53%',
       '14.74%', '14.42%', '18.21%', '17.26%', '18.84%', '17.90%',
       '19.16%', '13.67%', '9.38%', '12.72%', '13.36%', '11.46%',
       '10.51%', '9.07%', '13.04%', '11.78%', '12.41%', '10.83%',
       '12.09%', '17.46%', '14.30%', '17.15%', '15.25%', '10.20%',
       '15.88%', '14.93%', '16.20%', '18.72%', '14.62%', '8.32%',
       '14.12%', '10.96%', '10.33%', '10.01%', '12.86%', '11.28%',
       '11.59%', '8.63%', '12.54%', '12.22%', '11.91%', '15.38%',
       '16.96%', '13.17%', '9.70%', '16.33%', '14.75%', '15.07%',
       '16.01%', '10.71%', '10.64%', '9.76%', '11.34%', '10.39%',
       '13.87%', '11.03%', '11.66%', '13.24%', '10.08%', '9.45%',
       '13.55%', '12.29%', '11.97%', '12.92%', '15.45%', '14.50%',
       '14.18%', '15.13%', '16.08%', '15.76%', '17.03%', '17.34%',
       '16.71%', '9.83%', '13.62%', '10.46%', '9.51%', '9.20%', '13.30%',
       '10.78%', '7.75%', '8.38%', '12.36%', '12.67%', '11.72%', '13.93%',
       '8.07%', '7.43%', '12.04%', '14.25%', '14.88%', '11.41%', '11.09%',
       '10.14%', '16.15%', '15.83%', '7.12%', '18.36%', '9.64%', '9.96%',
       '11.22%', '9.01%', '9.33%', '11.54%', '12.17%', '12.80%', '14.38%',
       '13.75%', '14.70%', '12.49%', '14.07%', '10.91%', '13.12%',
       '10.28%', '8.70%', '14.67%', '15.01%'], dtype=object)

#### Question 2.6. How would you use `lambda` to convert the data type of `int_rate`?

In [62]:
DF_subset_30["int_rate_float"] =\
(
    DF_subset_30["int_rate"]
    .apply(lambda x: float(x.rstrip("%")
                          )
          )
)

DF_subset_30[["int_rate_float"]]

       int_rate_float
0               10.65
1               15.27
2               15.96
3               13.49
4               12.69
...               ...
39712            8.07
39713           10.28
39714            8.07
39715            7.43
39716           13.75

[39717 rows x 1 columns]

> Let's check the data types again.

In [63]:
DF_subset_30["int_rate_float"].dtypes

dtype('float64')

> Lets extract the numeric part from the variable employment length.

> First, let's drop the missing values from the column (otherwise the regex code below throws error) using regular expression to extract numeric values from the string convert to numeric

In [64]:
DF_subset_30["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [65]:
DF_subset_30 =\
(
    DF_subset_30
    .dropna(subset = ["emp_length"]
           )
)

DF_subset_30["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [66]:
import re # re denotes Regular Expression

In [67]:
DF_subset_30["emp_length"] =\
(
    DF_subset_30
    ["emp_length"]
    .apply(lambda x: int(re
                         .search(r"(\d+)", x)
                         .group()
                        )
          )
)

In [68]:
DF_subset_30["emp_length"].unique()

array([10,  1,  3,  8,  9,  4,  5,  6,  2,  7])

In [69]:
detect_some_patterns =\
(
    re
    .compile(r"(\d+)\s(w+)")
)

In [70]:
string_sample = "Python 101"
string_example = "627 Extras - Financial Analytics"

In [71]:
type(detect_some_patterns)

re.Pattern

In [72]:
patterns_detected =\
(
    detect_some_patterns
    .search(string_sample)
)

In [73]:
type(patterns_detected)

NoneType

In [74]:
if patterns_detected:
    full_match = patterns_detected.group(0) # returns the entire match
    first_grouping = patterns_detected.group(1) # returns only the first matched group
    second_grouping = patterns_detected.group(2) # returns only the second matched group

    print("Match (Full):", full_match)
    print("Match (First Group Only):", first_grouping)
    print("Match (Second Group Only):", second_grouping)

In [75]:
%whos

Variable                             Type         Data/Info
-----------------------------------------------------------
DF_missing_count                     DataFrame                             <...>n\n[111 rows x 2 columns]
DF_subset_30                         DataFrame                id  member_id<...>[38642 rows x 54 columns]
DF_subset_30_find_row_wise_missing   DataFrame                             <...>                       39
DF_subset_90                         DataFrame                id  member_id<...>[39717 rows x 55 columns]
bank                                 DataFrame                id  member_id<...>39717 rows x 111 columns]
detect_some_patterns                 Pattern      re.compile('(\\d+)\\s(w+)')
df_for_wm                            DataFrame            A     B\n0      6<...>00  None\n4  python   Yes
missing_more_than_90pct              DataFrame                             <...>   39717       100.000000
np                                   module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
numbers                              list         n=4
patterns_detected                    NoneType     None
pd                                   module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
re                                   module       <module 're' from '/opt/h<...>thon3.13/re/__init__.py'>
string_example                       str          627 Extras - Financial Analytics
string_sample                        str          Python 101
variables_with_object_dtype          Index        Index(['term', 'int_rate'<...>],\n      dtype='object')

> Let's take a look at type of the columns again

In [76]:
loan = DF_subset_30

In [77]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38642 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38642 non-null  int64
 1   member_id                   38642 non-null  int64
 2   loan_amnt                   38642 non-null  int64
 3   funded_amnt                 38642 non-null  int64
 4   funded_amnt_inv             38642 non-null  float64
 5   term                        38642 non-null  object
 6   int_rate                    38642 non-null  object
 7   installment                 38642 non-null  float64
 8   grade                       38642 non-null  object
 9   sub_grade                   38642 non-null  object
 10  emp_title                   37202 non-null  object
 11  emp_length                  38642 non-null  int64
 12  home_ownership              38642 non-null  object
 13  annual_inc                  38642 non-null  float64
 14  verification_status         38642 non-null  object
 15  issue_d                     38642 non-null  object
 16  loan_status                 38642 non-null  object
 17  pymnt_plan                  38642 non-null  object
 18  url                         38642 non-null  object
 19  purpose                     38642 non-null  object
 20  title                       38632 non-null  object
 21  zip_code                    38642 non-null  object
 22  addr_state                  38642 non-null  object
 23  dti                         38642 non-null  float64
 24  delinq_2yrs                 38642 non-null  int64
 25  earliest_cr_line            38642 non-null  object
 26  inq_last_6mths              38642 non-null  int64
 27  open_acc                    38642 non-null  int64
 28  pub_rec                     38642 non-null  int64
 29  revol_bal                   38642 non-null  int64
 30  revol_util                  38595 non-null  object
 31  total_acc                   38642 non-null  int64
 32  initial_list_status         38642 non-null  object
 33  out_prncp                   38642 non-null  float64
 34  out_prncp_inv               38642 non-null  float64
 35  total_pymnt                 38642 non-null  float64
 36  total_pymnt_inv             38642 non-null  float64
 37  total_rec_prncp             38642 non-null  float64
 38  total_rec_int               38642 non-null  float64
 39  total_rec_late_fee          38642 non-null  float64
 40  recoveries                  38642 non-null  float64
 41  collection_recovery_fee     38642 non-null  float64
 42  last_pymnt_d                38576 non-null  object
 43  last_pymnt_amnt             38642 non-null  float64
 44  last_credit_pull_d          38640 non-null  object
 45  collections_12_mths_ex_med  38586 non-null  float64
 46  policy_code                 38642 non-null  int64
 47  application_type            38642 non-null  object
 48  acc_now_delinq              38642 non-null  int64
 49  chargeoff_within_12_mths    38586 non-null  float64
 50  delinq_amnt                 38642 non-null  int64
 51  pub_rec_bankruptcies        37945 non-null  float64
 52  tax_liens                   38603 non-null  float64
 53  int_rate_float              38642 non-null  float64
dtypes: float64(19), int64(14), object(21)
memory usage: 16.2+ MB

### Question 3. Exploratory Data Analysis (EDA)

> There are some variables not available at the time of loan application, and thus they cannot be used as predictors for credit approval.

In [78]:
variables_to_remove =\
[ "delinq_2yrs",
  "earliest_cr_line",
  "inq_last_6mths",
  "open_acc",
  "pub_rec",
  "revol_bal",
  "revol_util",
  "total_acc",
  "out_prncp",
  "out_prncp_inv",
  "total_pymnt",
  "total_pymnt_inv",
  "total_rec_prncp",
  "total_rec_int",
  "total_rec_late_fee",
  "recoveries",
  "collection_recovery_fee",
  "last_pymnt_d",
  "last_pymnt_amnt",
  "last_credit_pull_d",
  "application_type"]

variables_to_remove

['delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'application_type']

#### Question 3.1. How would you remove the set of variables from `variables_to_remove` from the dataset?

In [79]:
subset_bank =\
(
    DF_subset_30
    .drop(variables_to_remove,
          axis = 1)
)

subset_bank.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'initial_list_status',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens', 'int_rate_float'],
      dtype='object')

#### Question 3.2. Are there any other variables that we can remove from the dataset also?

-  Also, we won't use the variables zip code, address, state etc. 
-  The variable `title` is derived from the variable `purpose` thus let get rid of all these variables as well

In [80]:
additional_variables_to_remove =\
    ["zip_code",
     "addr_state",
     "title"]

In [81]:
subset_bank =\
(
    DF_subset_30
    .drop(additional_variables_to_remove,
          axis = 1)
)

In [82]:
subset_bank.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'int_rate_float'],
      dtype='object')

#### Question 3.3. Let's have a look at the target variable--`loan_status`. 

> Objective: Re-label the values to a `binary form`: namely, `0` or `1`, 
>
> - 1 indicating that the person has defaulted and 
> - 0 otherwise.

But first, what makes up the target variable--`loan_status`?

In [83]:
subset_bank["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

> You should be able to see that `fully paid` comprises most of the loans. 

> The ones marked `current` are neither fully paid not defaulted, so let's get rid of the current loans. 

> Hence, we will have two categories to label as 0 or 1.

In [84]:
loan_status_cleaning =\
(
    subset_bank
    [subset_bank["loan_status"]
     .isin(['Fully Paid', 'Charged Off']
          )
    ]
)

loan_status_cleaning["loan_status"].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

- Filter for `Fully Paid` and `Charged Off` 
- Using `lambda`, let's label `Fully Paid` and `Charged Off`

### Solution with lambda

In [85]:
# loan_status_cleaning["loan_status"] =\
# (
#     loan_status_cleaning["loan_status"]
#     .apply(lambda x: 0 if x == "Fully Paid" 
#                        else 1
#           )
# )

### Solving problems with built-in function in pandas

In [86]:
loan_status_cleaning["loan_status"] =\
(
    loan_status_cleaning["loan_status"]
    .replace(['Fully Paid', 'Charged Off'],
             [0           , 1            ]
            )
)

loan_status_cleaning["loan_status"].unique()

/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/799372456.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace(['Fully Paid', 'Charged Off'],
/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/799372456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_status_cleaning["loan_status"] =\

array([0, 1])

> Let's convert `loan_status` to **integer data type** (again, use `lambda`).

In [87]:
subset_bank_COPIED =\
(
    subset_bank
    .copy()
)

In [88]:
subset_bank_COPIED["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [89]:
subset_bank.loan_status

0         Fully Paid
1        Charged Off
2         Fully Paid
3         Fully Paid
4            Current
            ...
39712     Fully Paid
39713     Fully Paid
39714     Fully Paid
39715     Fully Paid
39716     Fully Paid
Name: loan_status, Length: 38642, dtype: object

In [90]:
loan_status_CATEGORIES =\
(
    subset_bank_COPIED
    .loan_status
    .astype("category")
)

In [91]:
loan_status_CATEGORIES

0         Fully Paid
1        Charged Off
2         Fully Paid
3         Fully Paid
4            Current
            ...
39712     Fully Paid
39713     Fully Paid
39714     Fully Paid
39715     Fully Paid
39716     Fully Paid
Name: loan_status, Length: 38642, dtype: category
Categories (3, object): ['Charged Off', 'Current', 'Fully Paid']

In [92]:
(
    loan_status_CATEGORIES
    .cat
    .codes
) # 0, 1, 2

0        2
1        0
2        2
3        2
4        1
        ..
39712    2
39713    2
39714    2
39715    2
39716    2
Length: 38642, dtype: int8

In [93]:
subset_bank_COPIED =\
(
    subset_bank_COPIED
    [subset_bank_COPIED["loan_status"] != "Current"]
)

subset_bank_COPIED.loan_status.unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [94]:
subset_bank_COPIED # NOTE that the index carries over

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,int_rate_float
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.65
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,15.27
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,15.96
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,13.49
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,7.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,8.07
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,10.28
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,8.07
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,7.43
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,13.75

In [95]:
subset_bank_COPIED =\
(
    subset_bank_COPIED
    .reset_index(drop = True)
)

subset_bank_COPIED

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,int_rate_float
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.65
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,15.27
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,15.96
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,13.49
4,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,7.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37539,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,8.07
37540,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,10.28
37541,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,8.07
37542,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,7.43
37543,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN,13.75

In [96]:
loan_status_CATEGORY =\
(
    subset_bank_COPIED
    .loan_status
    .astype("category")
)

loan_status_CATEGORY

0         Fully Paid
1        Charged Off
2         Fully Paid
3         Fully Paid
4         Fully Paid
            ...
37539     Fully Paid
37540     Fully Paid
37541     Fully Paid
37542     Fully Paid
37543     Fully Paid
Name: loan_status, Length: 37544, dtype: category
Categories (2, object): ['Charged Off', 'Fully Paid']

> Let's take a look at the data points under the `loan_status` category.

In [97]:
(
    pd
    .concat(
        [loan_status_CATEGORY, loan_status_CATEGORY.cat.codes],
        axis = 1, # by default, along the way of axis = 0
        keys = ["loan_status_with_string", "loan_status_with_integer"]
    )
)

      loan_status_with_string  loan_status_with_integer
0                  Fully Paid                         1
1                 Charged Off                         0
2                  Fully Paid                         1
3                  Fully Paid                         1
4                  Fully Paid                         1
...                       ...                       ...
37539              Fully Paid                         1
37540              Fully Paid                         1
37541              Fully Paid                         1
37542              Fully Paid                         1
37543              Fully Paid                         1

[37544 rows x 2 columns]

### Question 4. A Simple Univariate Analysis

> First, let's look at the overall default rate.

#### Question 4.1. How would you calculate default rate? Please use `numpy` module.

In [98]:
loan_status_cleaning.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [99]:
subset_bank_with_default_rate =\
(
    loan_status_cleaning
    .groupby("grade")
    ["loan_status"]
    .agg(defaults = "sum",
         total = "count" # COUNT
        )
)

subset_bank_with_default_rate

       defaults  total
grade
A           558   9660
B          1355  11359
C          1288   7669
D          1085   4979
E           700   2620
F           313    959
G           100    298

In [100]:
subset_bank_with_default_rate["default_rate"] =\
(
    subset_bank_with_default_rate["defaults"]
    /
    subset_bank_with_default_rate["total"]
    * 100
)

subset_bank_with_default_rate =\
(
    subset_bank_with_default_rate
    .reset_index()
)

In [101]:
subset_bank_with_default_rate

  grade  defaults  total  default_rate
0     A       558   9660      5.776398
1     B      1355  11359     11.928867
2     C      1288   7669     16.794889
3     D      1085   4979     21.791524
4     E       700   2620     26.717557
5     F       313    959     32.638165
6     G       100    298     33.557047

> The overall default rate is about `??%`.

In [102]:
from lets_plot import *
LetsPlot.setup_html()

In [103]:
(
    ggplot(subset_bank_with_default_rate,
           aes(x = "grade",
               y = "default_rate",
               fill = "grade")
          )
    + geom_bar(stat = "identity")
    + theme(legend_position = "none") 
    + labs(x = "Loan Grade",
           y = "Loan Default Rate",
           title = "Voila!")
)

> Above is a visualization of the relationship between two variables: default rates (y-axis) across loan grades (x-axis), created using the Grammar of Graphics framework with the plotnine library. Please replicate this plot using the `lets-plot` library.

#### Question 4.2. Let's now analyse how the default rate varies across continuous variables.

#### Loan Amount: `loan_amnt`

> Please visualize the default rate (y-axis) against the loan amount (x-axis) using `lets-plot`.

In [104]:
subset_bank_with_default_rate_2 =\
(
    loan_status_cleaning
    .groupby("loan_amnt")
    ["loan_status"]
    .agg(defaults = "sum",
         total = "count" # COUNT
        )
)

subset_bank_with_default_rate_2

           defaults  total
loan_amnt
500               0      5
700               0      1
725               0      1
750               0      1
800               0      1
...             ...    ...
34475             1      5
34525             0      1
34675             0      1
34800             0      2
35000           146    591

[866 rows x 2 columns]

In [105]:
subset_bank_with_default_rate_2["default_rate"] =\
(
    subset_bank_with_default_rate_2["defaults"]
    /
    subset_bank_with_default_rate_2["total"]
    * 100
)

subset_bank_with_default_rate_2 =\
(
    subset_bank_with_default_rate_2
    .reset_index()
)

In [106]:
subset_bank_with_default_rate_2

     loan_amnt  defaults  total  default_rate
0          500         0      5      0.000000
1          700         0      1      0.000000
2          725         0      1      0.000000
3          750         0      1      0.000000
4          800         0      1      0.000000
..         ...       ...    ...           ...
861      34475         1      5     20.000000
862      34525         0      1      0.000000
863      34675         0      1      0.000000
864      34800         0      2      0.000000
865      35000       146    591     24.703892

[866 rows x 4 columns]

In [107]:
(
    ggplot(subset_bank_with_default_rate_2,
           aes(x = "loan_amnt",
               y = "default_rate")
          )
    + geom_line(size=0.25)
    + geom_point(size=0.25)
    + labs(x = "Loan Amount",
           y = "Loan Default Rate",
           title = "Voila!")
)

> `Interpretation`?

> Another way to analyse how default rates vary across continous variables is to bin the variables into discrete categories.

> Let's create a categorical variable for the loan amount variable into small, medium, high, very high.

* loan_amount < 5000 `low`
* loan_amount >=5000 and loan_amount < 15000 `medium`
* loan_amount >= 15000 and loan_amount < 25000 `high`
* greater than 25000 `very high`

In [108]:
loan_status_cleaning["loan_amnt_categories"] =\
(
    pd
    .cut(x = bank["loan_amnt"],
         bins = [0, 5000, 15000, 25000, np.inf], # intervals
         labels = ["low", "medium", "high", "very high"], # labels should be bins - 1
         right = False
        )
)

loan_status_cleaning.head(3).T

/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/3597578113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_status_cleaning["loan_amnt_categories"] =\

,0,1,2
id,1077501,1077430,1077175
member_id,1296599,1314167,1313524
loan_amnt,5000,2500,2400
funded_amnt,5000,2500,2400
funded_amnt_inv,4975.0,2500.0,2400.0
term,36 months,60 months,36 months
int_rate,10.65%,15.27%,15.96%
installment,162.87,59.83,84.33
grade,B,C,C
sub_grade,B2,C4,C5
emp_title,NaN,Ryder,NaN
emp_length,10,1,10
home_ownership,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0
verification_status,Verified,Source Verified,Not Verified
issue_d,Dec-11,Dec-11,Dec-11
loan_status,0,1,0
pymnt_plan,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
purpose,credit_card,car,small_business
dti,27.65,1.0,8.72
delinq_2yrs,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01
inq_last_6mths,1,5,2
open_acc,3,3,2
pub_rec,0,0,0
revol_bal,13648,1687,2956
revol_util,83.70%,9.40%,98.50%
total_acc,9,4,10
initial_list_status,f,f,f
out_prncp,0.0,0.0,0.0
out_prncp_inv,0.0,0.0,0.0
total_pymnt,5863.155187,1008.71,3005.666844
total_pymnt_inv,5833.84,1008.71,3005.67
total_rec_prncp,5000.0,456.46,2400.0
total_rec_int,863.16,435.17,605.67
total_rec_late_fee,0.0,0.0,0.0
recoveries,0.0,117.08,0.0
collection_recovery_fee,0.0,1.11,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14
last_pymnt_amnt,171.62,119.66,649.91
last_credit_pull_d,May-16,Sep-13,May-16
collections_12_mths_ex_med,0.0,0.0,0.0
policy_code,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0
delinq_amnt,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0
int_rate_float,10.65,15.27,15.96
loan_amnt_categories,medium,low,low

In [109]:
loan_status_cleaning[["loan_amnt_categories", "loan_amnt"]]

      loan_amnt_categories  loan_amnt
0                   medium       5000
1                      low       2500
2                      low       2400
3                   medium      10000
5                   medium       5000
...                    ...        ...
39712                  low       2500
39713               medium       8500
39714               medium       5000
39715               medium       5000
39716               medium       7500

[37544 rows x 2 columns]

In [110]:
subset_bank_with_default_rate_3 =\
(
    loan_status_cleaning
    .groupby("loan_amnt_categories")
    ["loan_status"]
    .agg(defaults = "sum",
         total = "count" # COUNT
        )
)

/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/3164052238.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("loan_amnt_categories")

In [111]:
subset_bank_with_default_rate_3["default_rate"] =\
(
    subset_bank_with_default_rate_3["defaults"]
    /
    subset_bank_with_default_rate_3["total"]
    * 100
)

subset_bank_with_default_rate_3 =\
(
    subset_bank_with_default_rate_3
    .reset_index()
)

In [112]:
subset_bank_with_default_rate_3

  loan_amnt_categories  defaults  total  default_rate
0                  low       945   7095     13.319239
1               medium      2617  20157     12.983083
2                 high      1274   7572     16.825145
3            very high       563   2720     20.698529

In [113]:
(
    ggplot(subset_bank_with_default_rate_3,
           aes(x = "loan_amnt_categories",
               y = "default_rate",
               fill = "loan_amnt_categories")
          )
    + geom_bar(stat = "identity")
    + theme(legend_position = "none") 
    + labs(x = "loan_amnt_categories",
           y = "Loan Default Rate",
           title = "Voila!")
)

#### debt-to-income (`dti`) ratio

In [114]:
%whos

Variable                             Type         Data/Info
-----------------------------------------------------------
DF_missing_count                     DataFrame                             <...>n\n[111 rows x 2 columns]
DF_subset_30                         DataFrame                id  member_id<...>[38642 rows x 54 columns]
DF_subset_30_find_row_wise_missing   DataFrame                             <...>                       39
DF_subset_90                         DataFrame                id  member_id<...>[39717 rows x 55 columns]
GGBunch                              type         <class 'lets_plot.plot.plot.GGBunch'>
LetsPlot                             type         <class 'lets_plot.LetsPlot'>
additional_variables_to_remove       list         n=3
aes                                  function     <function aes at 0x14a684ea0>
arrow                                function     <function arrow at 0x14a6c4a40>
as_discrete                          function     <function as_discrete at 0x14a6adc60>
bank                                 DataFrame                id  member_id<...>39717 rows x 111 columns]
coord_cartesian                      function     <function coord_cartesian at 0x14a687100>
coord_fixed                          function     <function coord_fixed at 0x14a6871a0>
coord_flip                           function     <function coord_flip at 0x14a6872e0>
coord_map                            function     <function coord_map at 0x14a687240>
coord_polar                          function     <function coord_polar at 0x14a687380>
detect_some_patterns                 Pattern      re.compile('(\\d+)\\s(w+)')
df_for_wm                            DataFrame            A     B\n0      6<...>00  None\n4  python   Yes
element_blank                        function     <function element_blank at 0x13e52f240>
element_geom                         function     <function element_geom at 0x13e52f600>
element_line                         function     <function element_line at 0x13e52f380>
element_markdown                     function     <function element_markdown at 0x13e52f4c0>
element_rect                         function     <function element_rect at 0x13e52f2e0>
element_text                         function     <function element_text at 0x13e52f420>
expand_limits                        function     <function expand_limits at 0x14a687740>
facet_grid                           function     <function facet_grid at 0x14a6c4360>
facet_wrap                           function     <function facet_wrap at 0x14a6c4400>
flavor_darcula                       function     <function flavor_darcula at 0x13e52fc40>
flavor_high_contrast_dark            function     <function flavor_high_con<...>rast_dark at 0x13e52fec0>
flavor_high_contrast_light           function     <function flavor_high_con<...>ast_light at 0x13e52fe20>
flavor_solarized_dark                function     <function flavor_solarized_dark at 0x13e52fd80>
flavor_solarized_light               function     <function flavor_solarized_light at 0x13e52fce0>
font_family_info                     function     <function font_family_info at 0x14a6c47c0>
font_metrics_adjustment              function     <function font_metrics_adjustment at 0x14a6c4720>
geom_abline                          function     <function geom_abline at 0x14a6aefc0>
geom_area                            function     <function geom_area at 0x14a6af560>
geom_area_ridges                     function     <function geom_area_ridges at 0x14a6af420>
geom_band                            function     <function geom_band at 0x14a6af060>
geom_bar                             function     <function geom_bar at 0x14a6ae660>
geom_bin2d                           function     <function geom_bin2d at 0x14a6ae840>
geom_blank                           function     <function geom_blank at 0x14a6c4220>
geom_boxplot                         function     <function geom_boxplot at 0x14a6af240>
geom_contour                         function     <function geom_contour at 0x14a6aed40>
geom_contourf                        function     <function geom_contourf at 0x14a6aede0>
geom_count                           function     <function geom_count at 0x14a6c4180>
geom_crossbar                        function     <function geom_crossbar at 0x14a6aeb60>
geom_curve                           function     <function geom_curve at 0x14a6afd80>
geom_density                         function     <function geom_density at 0x14a6af600>
geom_density2d                       function     <function geom_density2d at 0x14a6af6a0>
geom_density2df                      function     <function geom_density2df at 0x14a6af740>
geom_dotplot                         function     <function geom_dotplot at 0x14a6ae7a0>
geom_errorbar                        function     <function geom_errorbar at 0x14a6aeac0>
geom_freqpoly                        function     <function geom_freqpoly at 0x14a6afb00>
geom_function                        function     <function geom_function at 0x14a6c4f40>
geom_hex                             function     <function geom_hex at 0x14a6ae8e0>
geom_histogram                       function     <function geom_histogram at 0x14a6ae700>
geom_hline                           function     <function geom_hline at 0x14a6af100>
geom_imshow                          function     <function geom_imshow at 0x13e4e4e00>
geom_jitter                          function     <function geom_jitter at 0x14a6af7e0>
geom_label                           function     <function geom_label at 0x14a6aff60>
geom_line                            function     <function geom_line at 0x14a6ae520>
geom_linerange                       function     <function geom_linerange at 0x14a6aeca0>
geom_livemap                         function     <function geom_livemap at 0x13e4e5ee0>
geom_lollipop                        function     <function geom_lollipop at 0x14a6c40e0>
geom_map                             function     <function geom_map at 0x14a6aef20>
geom_path                            function     <function geom_path at 0x14a6ad300>
geom_pie                             function     <function geom_pie at 0x14a6c4040>
geom_point                           function     <function geom_point at 0x14a6ac360>
geom_pointrange                      function     <function geom_pointrange at 0x14a6aec00>
geom_polygon                         function     <function geom_polygon at 0x14a6aee80>
geom_qq                              function     <function geom_qq at 0x14a6af880>
geom_qq2                             function     <function geom_qq2 at 0x14a6af920>
geom_qq2_line                        function     <function geom_qq2_line at 0x14a6afa60>
geom_qq_line                         function     <function geom_qq_line at 0x14a6af9c0>
geom_raster                          function     <function geom_raster at 0x14a6aea20>
geom_rect                            function     <function geom_rect at 0x14a6afc40>
geom_ribbon                          function     <function geom_ribbon at 0x14a6af4c0>
geom_segment                         function     <function geom_segment at 0x14a6afce0>
geom_smooth                          function     <function geom_smooth at 0x14a6ae5c0>
geom_spoke                           function     <function geom_spoke at 0x14a6afe20>
geom_step                            function     <function geom_step at 0x14a6afba0>
geom_text                            function     <function geom_text at 0x14a6afec0>
geom_tile                            function     <function geom_tile at 0x14a6ae980>
geom_violin                          function     <function geom_violin at 0x14a6af2e0>
geom_vline                           function     <function geom_vline at 0x14a6af1a0>
geom_ydotplot                        function     <function geom_ydotplot at 0x14a6af380>
ggbunch                              function     <function ggbunch at 0x14a685f80>
gggrid                               function     <function gggrid at 0x13e4e7100>
ggmarginal                           function     <function ggmarginal at 0x13e4e7ce0>
ggplot                               function     <function ggplot at 0x13e4e7ec0>
ggsave                               function     <function ggsave at 0x13e53c720>
ggsize                               function     <function ggsize at 0x13e4e7f60>
ggtb                                 function     <function ggtb at 0x13e4e7240>
ggtitle                              function     <function ggtitle at 0x13e4e7740>
guide_colorbar                       function     <function guide_colorbar at 0x13e4e7420>
guide_legend                         function     <function guide_legend at 0x13e4e7380>
guides                               function     <function guides at 0x13e4e7560>
labs                                 function     <function labs at 0x13e4e7920>
layer                                function     <function layer at 0x14a684f40>
layer_key                            function     <function layer_key at 0x13e4e7600>
layer_labels                         type         <class 'lets_plot.plot.annotation.layer_labels'>
layer_tooltips                       type         <class 'lets_plot.plot.tooltip.layer_tooltips'>
lims                                 function     <function lims at 0x13e52d580>
loan                                 DataFrame                id  member_id<...>[38642 rows x 54 columns]
loan_status_CATEGORIES               Series       0         Fully Paid\n1  <...> 'Current', 'Fully Paid']
loan_status_CATEGORY                 Series       0         Fully Paid\n1  <...>arged Off', 'Fully Paid']
loan_status_cleaning                 DataFrame                id  member_id<...>[37544 rows x 52 columns]
maptiles_lets_plot                   function     <function maptiles_lets_plot at 0x13e53cae0>
maptiles_solid                       function     <function maptiles_solid at 0x13e53f100>
maptiles_zxy                         function     <function maptiles_zxy at 0x13e53f060>
margin                               function     <function margin at 0x13e52f560>
missing_more_than_90pct              DataFrame                             <...>   39717       100.000000
np                                   module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
numbers                              list         n=4
patterns_detected                    NoneType     None
pd                                   module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
position_dodge                       function     <function position_dodge at 0x13e52c400>
position_dodgev                      function     <function position_dodgev at 0x13e52c4a0>
position_fill                        function     <function position_fill at 0x13e52c7c0>
position_jitter                      function     <function position_jitter at 0x13e52c540>
position_jitterdodge                 function     <function position_jitterdodge at 0x13e52c680>
position_nudge                       function     <function position_nudge at 0x13e52c5e0>
position_stack                       function     <function position_stack at 0x13e52c720>
re                                   module       <module 're' from '/opt/h<...>thon3.13/re/__init__.py'>
sampling_group_random                function     <function sampling_group_random at 0x13e52ccc0>
sampling_group_systematic            function     <function sampling_group_<...>ystematic at 0x13e52cc20>
sampling_pick                        function     <function sampling_pick at 0x13e52cae0>
sampling_random                      function     <function sampling_random at 0x13e52c9a0>
sampling_random_stratified           function     <function sampling_random<...>tratified at 0x13e52ca40>
sampling_systematic                  function     <function sampling_systematic at 0x13e52cb80>
sampling_vertex_dp                   function     <function sampling_vertex_dp at 0x13e52ce00>
sampling_vertex_vw                   function     <function sampling_vertex_vw at 0x13e52cd60>
scale_alpha                          function     <function scale_alpha at 0x14a6c6e80>
scale_alpha_identity                 function     <function scale_alpha_identity at 0x13e52ea20>
scale_alpha_manual                   function     <function scale_alpha_manual at 0x14a6c5bc0>
scale_brewer                         function     <function scale_brewer at 0x14a6c6ac0>
scale_cmapmpl                        function     <function scale_cmapmpl at 0x13e52d1c0>
scale_color_brewer                   function     <function scale_color_brewer at 0x14a6c6c00>
scale_color_cmapmpl                  function     <function scale_color_cmapmpl at 0x13e52d300>
scale_color_continuous               function     <function scale_color_continuous at 0x14a6c5e40>
scale_color_discrete                 function     <function scale_color_discrete at 0x14a6c67a0>
scale_color_gradient                 function     <function scale_color_gradient at 0x14a6c6020>
scale_color_gradient2                function     <function scale_color_gradient2 at 0x14a6c6200>
scale_color_gradientn                function     <function scale_color_gradientn at 0x14a6c6340>
scale_color_grey                     function     <function scale_color_grey at 0x14a6c6980>
scale_color_hue                      function     <function scale_color_hue at 0x14a6c65c0>
scale_color_identity                 function     <function scale_color_identity at 0x13e52e7a0>
scale_color_manual                   function     <function scale_color_manual at 0x14a6c58a0>
scale_color_viridis                  function     <function scale_color_viridis at 0x14a6c6de0>
scale_continuous                     function     <function scale_continuous at 0x14a6c5d00>
scale_discrete                       function     <function scale_discrete at 0x14a6c6660>
scale_fill_brewer                    function     <function scale_fill_brewer at 0x14a6c6b60>
scale_fill_cmapmpl                   function     <function scale_fill_cmapmpl at 0x13e52d260>
scale_fill_continuous                function     <function scale_fill_continuous at 0x14a6c5da0>
scale_fill_discrete                  function     <function scale_fill_discrete at 0x14a6c6700>
scale_fill_gradient                  function     <function scale_fill_gradient at 0x14a6c5f80>
scale_fill_gradient2                 function     <function scale_fill_gradient2 at 0x14a6c6160>
scale_fill_gradientn                 function     <function scale_fill_gradientn at 0x14a6c63e0>
scale_fill_grey                      function     <function scale_fill_grey at 0x14a6c68e0>
scale_fill_hue                       function     <function scale_fill_hue at 0x14a6c6520>
scale_fill_identity                  function     <function scale_fill_identity at 0x13e52e840>
scale_fill_manual                    function     <function scale_fill_manual at 0x14a6c5940>
scale_fill_viridis                   function     <function scale_fill_viridis at 0x14a6c6d40>
scale_gradient                       function     <function scale_gradient at 0x14a6c5ee0>
scale_gradient2                      function     <function scale_gradient2 at 0x14a6c60c0>
scale_gradientn                      function     <function scale_gradientn at 0x14a6c62a0>
scale_grey                           function     <function scale_grey at 0x14a6c6840>
scale_hue                            function     <function scale_hue at 0x14a6c6480>
scale_identity                       function     <function scale_identity at 0x13e52e700>
scale_linetype_identity              function     <function scale_linetype_identity at 0x13e52e980>
scale_linetype_manual                function     <function scale_linetype_manual at 0x14a6c5b20>
scale_linewidth                      function     <function scale_linewidth at 0x14a6c7060>
scale_linewidth_identity             function     <function scale_linewidth<...>_identity at 0x13e52eb60>
scale_manual                         function     <function scale_manual at 0x14a6c5800>
scale_shape                          function     <function scale_shape at 0x14a6c56c0>
scale_shape_identity                 function     <function scale_shape_identity at 0x13e52e8e0>
scale_shape_manual                   function     <function scale_shape_manual at 0x14a6c5a80>
scale_size                           function     <function scale_size at 0x14a6c6f20>
scale_size_area                      function     <function scale_size_area at 0x14a6c6fc0>
scale_size_identity                  function     <function scale_size_identity at 0x13e52eac0>
scale_size_manual                    function     <function scale_size_manual at 0x14a6c59e0>
scale_stroke                         function     <function scale_stroke at 0x14a6c7100>
scale_stroke_identity                function     <function scale_stroke_identity at 0x13e52ec00>
scale_viridis                        function     <function scale_viridis at 0x14a6c6ca0>
scale_x_continuous                   function     <function scale_x_continuous at 0x13e52d8a0>
scale_x_datetime                     function     <function scale_x_datetime at 0x13e52e020>
scale_x_discrete                     function     <function scale_x_discrete at 0x13e52dda0>
scale_x_discrete_reversed            function     <function scale_x_discret<...>_reversed at 0x13e52de40>
scale_x_log10                        function     <function scale_x_log10 at 0x13e52d9e0>
scale_x_log2                         function     <function scale_x_log2 at 0x13e52db20>
scale_x_reverse                      function     <function scale_x_reverse at 0x13e52dc60>
scale_x_time                         function     <function scale_x_time at 0x13e52e160>
scale_y_continuous                   function     <function scale_y_continuous at 0x13e52d940>
scale_y_datetime                     function     <function scale_y_datetime at 0x13e52e0c0>
scale_y_discrete                     function     <function scale_y_discrete at 0x13e52dee0>
scale_y_discrete_reversed            function     <function scale_y_discret<...>_reversed at 0x13e52df80>
scale_y_log10                        function     <function scale_y_log10 at 0x13e52da80>
scale_y_log2                         function     <function scale_y_log2 at 0x13e52dbc0>
scale_y_reverse                      function     <function scale_y_reverse at 0x13e52dd00>
scale_y_time                         function     <function scale_y_time at 0x13e52e200>
stat_ecdf                            function     <function stat_ecdf at 0x13e52ef20>
stat_sum                             function     <function stat_sum at 0x13e52efc0>
stat_summary                         function     <function stat_summary at 0x13e52ede0>
stat_summary_bin                     function     <function stat_summary_bin at 0x13e52ee80>
string_example                       str          627 Extras - Financial Analytics
string_sample                        str          Python 101
subset_bank                          DataFrame                id  member_id<...>[38642 rows x 51 columns]
subset_bank_COPIED                   DataFrame                id  member_id<...>[37544 rows x 51 columns]
subset_bank_with_default_rate        DataFrame      grade  defaults  total <...> 100    298     33.557047
subset_bank_with_default_rate_2      DataFrame         loan_amnt  defaults <...>n\n[866 rows x 4 columns]
subset_bank_with_default_rate_3      DataFrame      loan_amnt_categories  d<...> 563   2720     20.698529
theme                                function     <function theme at 0x13e52f100>
theme_bw                             function     <function theme_bw at 0x13e52fb00>
theme_classic                        function     <function theme_classic at 0x13e52f880>
theme_grey                           function     <function theme_grey at 0x13e52f740>
theme_light                          function     <function theme_light at 0x13e52f7e0>
theme_minimal                        function     <function theme_minimal at 0x13e52f920>

> Please create a categorical variable of `dti` using your own function

> Use the following definitions for each categories.

* <= 10 `low`
* dti > 10 and dti <=20 `medium`
* greater than 20 `high`

In [115]:
# for your conveneint use

def cat_var(x,
            bins,
            labels):
    for bound, label in zip(bins, labels):
        if x <= bound:
            break
    return label 

# see below for use cases at `installment`

In [116]:
loan_status_cleaning["dti_categories"] =\
(
    loan_status_cleaning["dti"]
    .apply(lambda x: 
           cat_var(x,
                   [0, 10, 20, np.inf],
                   ["low", "medium", "high"]
                  )
          )
)

loan_status_cleaning.head(3).T

/var/folders/k1/7yl62fwx2879_758cjywcjrw0000gn/T/ipykernel_75446/1243690576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_status_cleaning["dti_categories"] =\

,0,1,2
id,1077501,1077430,1077175
member_id,1296599,1314167,1313524
loan_amnt,5000,2500,2400
funded_amnt,5000,2500,2400
funded_amnt_inv,4975.0,2500.0,2400.0
term,36 months,60 months,36 months
int_rate,10.65%,15.27%,15.96%
installment,162.87,59.83,84.33
grade,B,C,C
sub_grade,B2,C4,C5
emp_title,NaN,Ryder,NaN
emp_length,10,1,10
home_ownership,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0
verification_status,Verified,Source Verified,Not Verified
issue_d,Dec-11,Dec-11,Dec-11
loan_status,0,1,0
pymnt_plan,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
purpose,credit_card,car,small_business
dti,27.65,1.0,8.72
delinq_2yrs,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01
inq_last_6mths,1,5,2
open_acc,3,3,2
pub_rec,0,0,0
revol_bal,13648,1687,2956
revol_util,83.70%,9.40%,98.50%
total_acc,9,4,10
initial_list_status,f,f,f
out_prncp,0.0,0.0,0.0
out_prncp_inv,0.0,0.0,0.0
total_pymnt,5863.155187,1008.71,3005.666844
total_pymnt_inv,5833.84,1008.71,3005.67
total_rec_prncp,5000.0,456.46,2400.0
total_rec_int,863.16,435.17,605.67
total_rec_late_fee,0.0,0.0,0.0
recoveries,0.0,117.08,0.0
collection_recovery_fee,0.0,1.11,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14
last_pymnt_amnt,171.62,119.66,649.91
last_credit_pull_d,May-16,Sep-13,May-16
collections_12_mths_ex_med,0.0,0.0,0.0
policy_code,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
acc_now_delinq,0,0,0
chargeoff_within_12_mths,0.0,0.0,0.0
delinq_amnt,0,0,0
pub_rec_bankruptcies,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0
int_rate_float,10.65,15.27,15.96
loan_amnt_categories,medium,low,low
dti_categories,high,medium,medium

In [117]:
subset_bank_with_default_rate_4 =\
(
    loan_status_cleaning
    .groupby("dti_categories")
    ["loan_status"]
    .agg(defaults = "sum",
         total = "count" # COUNT
        )
)

In [118]:
subset_bank_with_default_rate_4["default_rate"] =\
(
    subset_bank_with_default_rate_4["defaults"]
    /
    subset_bank_with_default_rate_4["total"]
    * 100
)

subset_bank_with_default_rate_4 =\
(
    subset_bank_with_default_rate_4
    .reset_index()
)

In [119]:
subset_bank_with_default_rate_4

  dti_categories  defaults  total  default_rate
0           high      3832  24999     15.328613
1            low        27    168     16.071429
2         medium      1540  12377     12.442434

> Let's compare default rates across debt-to-income ratios using `lets-plot`.

In [120]:
(
    ggplot(subset_bank_with_default_rate_4,
           aes(x = "dti_categories",
               y = "default_rate",
               fill = "dti_categories")
          )
    + geom_bar(stat = "identity")
    + theme(legend_position = "none") 
    + labs(x = "dti_categories",
           y = "Loan Default Rate",
           title = "Voila!")
)

> `Interpretation`?

### Variables in the Dataset

- `acc_now_delinq`	The number of accounts on which the borrower is now delinquent.
- `acc_open_past_24mths`	Number of trades opened in past 24 months.
- addr_state`	The state provided by the borrower in the loan application
- `all_util`	Balance to credit limit on all trades
- `annual_inc`	The self-reported annual income provided by the borrower during registration.
- `annual_inc_joint`	The combined self-reported annual income provided by the co-borrowers during registration
- `application_type`	Indicates whether the loan is an individual application or a joint application with two co-borrowers
- `avg_cur_bal`	Average current balance of all accounts
- `bc_open_to_buy`	Total open to buy on revolving bankcards.
- `bc_util`	Ratio of total current balance to high credit/credit limit for all bankcard accounts.
- `chargeoff_within_12_mths`	Number of charge-offs within 12 months
- `collection_recovery_fee`	post charge off collection fee
- `collections_12_mths_ex_med`	Number of collections in 12 months excluding medical collections
- `delinq_2yrs`	The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
- `delinq_amnt`	The past-due amount owed for the accounts on which the borrower is now delinquent.
- `desc`	Loan description provided by the borrower
- `dti`	A ratio calculated using the borrowerâ€™s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowerâ€™s self-reported monthly income.
- `dti_joint`	A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
- `earliest_cr_line`	The month the borrower's earliest reported credit line was opened
- `emp_length`	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 
- `emp_title`	The job title supplied by the Borrower when applying for the loan.*
- `fico_range_high`	The upper boundary range the borrowerâ€™s FICO at loan origination belongs to.
- `fico_range_low`	The lower boundary range the borrowerâ€™s FICO at loan origination belongs to.
- `funded_amnt`	The total amount committed to that loan at that point in time.
- `funded_amnt_inv`	The total amount committed by investors for that loan at that point in time.
- `grade`	LC assigned loan grade
- `home_ownership`	The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
- `id`	A unique LC assigned ID for the loan listing.
- `il_util`	Ratio of total current balance to high credit/credit limit on all install acct
- `initial_list_status`	The initial listing status of the loan. Possible values are â€“ W, F
- `inq_fi`	Number of personal finance inquiries
- `inq_last_12m`	Number of credit inquiries in past 12 months
- `inq_last_6mths`	The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
- `installment`	The monthly payment owed by the borrower if the loan originates.
- `int_rate`	Interest Rate on the loan
- `issue_d`	The month which the loan was funded
- `last_credit_pull_d`	The most recent month LC pulled credit for this loan
- `last_fico_range_high`	The upper boundary range the borrowerâ€™s last FICO pulled belongs to.
- `last_fico_range_low`	The lower boundary range the borrowerâ€™s last FICO pulled belongs to.
- `last_pymnt_amnt`	Last total payment amount received
- `last_pymnt_d`	Last month payment was received
- `loan_amnt`	The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
- `loan_status`	Current status of the loan
- `max_bal_bc`	Maximum current balance owed on all revolving accounts
- `member_id`	A unique LC assigned Id for the borrower member.
- `mo_sin_old_il_acct`	Months since oldest bank installment account opened
- `mo_sin_old_rev_tl_op`	Months since oldest revolving account opened
- `mo_sin_rcnt_rev_tl_op`	Months since most recent revolving account opened
- `mo_sin_rcnt_tl`	Months since most recent account opened
- `mort_acc`	Number of mortgage accounts.
- `mths_since_last_delinq`	The number of months since the borrower's last delinquency.
- `mths_since_last_major_derog`	Months since most recent 90-day or worse rating
- `mths_since_last_record`	The number of months since the last public record.
- `mths_since_rcnt_il`	Months since most recent installment accounts opened
- `mths_since_recent_bc`	Months since most recent bankcard account opened.
- `mths_since_recent_bc_dlq`	Months since most recent bankcard delinquency
- `mths_since_recent_inq`	Months since most recent inquiry.
- `mths_since_recent_revol_delinq`	Months since most recent revolving delinquency.
- `next_pymnt_d`	Next scheduled payment date
- `num_accts_ever_120_pd`	Number of accounts ever 120 or more days past due
- `num_actv_bc_tl`	Number of currently active bankcard accounts
- `num_actv_rev_tl`	Number of currently active revolving trades
- `num_bc_sats`	Number of satisfactory bankcard accounts
- `num_bc_tl`	Number of bankcard accounts
- `num_il_tl`	Number of installment accounts
- `num_op_rev_tl`	Number of open revolving accounts
- `num_rev_accts`	Number of revolving accounts
- `num_rev_tl_bal_gt_0`	Number of revolving trades with balance >0
- `num_sats`	Number of satisfactory accounts
- `num_tl_120dpd_2m`	Number of accounts currently 120 days past due (updated in past 2 months)
- `num_tl_30dpd`	Number of accounts currently 30 days past due (updated in past 2 months)
- `num_tl_90g_dpd_24m`	Number of accounts 90 or more days past due in last 24 months
- `num_tl_op_past_12m`	Number of accounts opened in past 12 months
- `open_acc`	The number of open credit lines in the borrower's credit file.
- `open_acc_6m`	Number of open trades in last 6 months
- `open_il_12m`	Number of installment accounts opened in past 12 months
- `open_il_24m`	Number of installment accounts opened in past 24 months
- `open_il_6m`	Number of currently active installment trades
- `open_rv_12m`	Number of revolving trades opened in past 12 months
- `open_rv_24m`	Number of revolving trades opened in past 24 months
- `out_prncp`	Remaining outstanding principal for total amount funded
- `out_prncp_inv`	Remaining outstanding principal for portion of total amount funded by investors
- `pct_tl_nvr_dlq`	Percent of trades never delinquent
- `percent_bc_gt_75`	Percentage of all bankcard accounts > 75% of limit.
- `policy_code`	publicly available policy_code=1; new products not publicly available policy_code=2"
- `pub_rec`	Number of derogatory public records
- `pub_rec_bankruptcies`	Number of public record bankruptcies
- `purpose`	A category provided by the borrower for the loan request. 
- `pymnt_plan`	Indicates if a payment plan has been put in place for the loan
- `recoveries`	post charge off gross recovery
- `revol_bal`	Total credit revolving balance
- `revol_util`	Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
- `sub_grade`	LC assigned loan subgrade
- `tax_liens`	Number of tax liens
- `term`	The number of payments on the loan. Values are in months and can be either 36 or 60.
- `title`	The loan title provided by the borrower
- `tot_coll_amt`	Total collection amounts ever owed
- `tot_cur_bal`	Total current balance of all accounts
- `tot_hi_cred_lim`	Total high credit/credit limit
- `total_acc`	The total number of credit lines currently in the borrower's credit file
- `total_bal_ex_mort`	Total credit balance excluding mortgage
- `total_bal_il`	Total current balance of all installment accounts
- `total_bc_limit`	Total bankcard high credit/credit limit
- `total_cu_tl`	Number of finance trades
- `total_il_high_credit_limit`	Total installment high credit/credit limit
- `total_pymnt`	Payments received to date for total amount funded
- `total_pymnt_inv`	Payments received to date for portion of total amount funded by investors
- `total_rec_int`	Interest received to date
- `total_rec_late_fee`	Late fees received to date
- `total_rec_prncp`	Principal received to date
- `total_rev_hi_lim` Â 	Total revolving high credit/credit limit
- `url`	URL for the LC page with listing data.
- `verification_status`	Indicates if income was verified by LC, not verified, or if the income source was verified
- `verified_status_joint`	Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
- `zip_code`	The first 3 numbers of the zip code provided by the borrower in the loan application.

### <font color="green">"Thank you for putting your efforts into the exercise problem sets ðŸ’¯"</font>